@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FAE0E4;
    padding: 32px 20px 75px 20px;
    font-family: Betty;
    color: #202020;
}

@media screen and (min-width: 480px) {
    body {
        padding: 50px 80px 70px 80px;
    }
}